/*
* 
* ToDo:
* - Fix text-row so it actually fills the rest
* of the space
* 
*/

html {
	padding: 0px;
	margin: 0px;
}

body {
	font-family: 'Helvetica', sans-serif;
	font-size: 10px;
	color: #424242;
	width: 80%;
	padding: 0 1em 2em 1em;
	margin: 0 auto;
	min-width: 64.8em;
	max-width: 93em;
}
/* Added by knod */
a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: black;
	border-bottom: 1px solid black;
}

/*--- HEADER ---*/
#header {
	margin-bottom: .5em;
}

#header div {
	display: inline-block;
}

/*--- Title ---*/
#banner {
	width: 48%;
}

#title {
	font-size: 5em;
}

/* Added by knod */
#title a:hover {
	border: none;
}

#tagline {
	padding-left: .5em;
	font-size: 1.3em;
	color: #7e7e7e
}

/*--- Menu ---*/
#menuContainer {
	width: 52%;
	text-align: right;
}

#menu {
	font-size: 1.6em;
}

#menu>div {
	text-align: right;
	padding-left: 2em;
}

/*--- SIMULATOR ---*/
#app {}

#REPL {
	overflow: hidden;
	margin-bottom: 1em;
}

#REPL>div {
	height: 46em;
}

#editor {
	position: relative;
	overflow: auto;
	border: 1px solid #dddddd;
	box-sizing: border-box;
}

#textInput {
	height: 100%;
}

#textInput>div {
	font-size: 15px;
}

#num-gutter {
	height: 100%;
	width: 22px;
	float: left;
	background: #f0f0f0;
}

#text-areas {
	height: 100%;
	width: auto;
	font-size: 15px;
	overflow: scroll;
	/*background: lightblue;*/
}

.num-row {
	text-align: right;
	padding: 1px 4px 1px 0;
}

.text-row {
	/*height: 100%;*/
	outline: none;
	display: block;
	margin: 0;
	padding: 1px 6px;
	width: 97.5%;
	font-size: 15px;
	border: none;
	resize: none;
}

/*#z-test {
	position: relative;
	z-index:2;
	width: 22px;
	float: left;
	background: red;
	height: 100%;
}*/

#evaluate {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 10;
	border: 0;
	cursor: pointer;
}

#visualizer {
	float: right;
	overflow: hidden;
	width: 46em;
	background-color: #F5F1FA;
	margin-left: 1em;
	padding: .5em;
}

#visualizer>span {
	font-size: 1.8em;
}

#qubitsInput {
	font-size: .8em;
}

#diagram {
	width: 100%;
	height: 24em;
	border: 1px solid #dddddd;
	box-sizing: border-box;
}

/*--- ACE ---*/
/*
.ace_gutter-cell {
	padding-left: .6em !important;
	padding-right: .6em !important;
}*/