/* Created by: 
* 02-03/14
* 
* Sources:
* 1. http://stackoverflow.com/questions/15076201/html-css-sticky-footer-growing-content
* 
* ToDo:
* - Fix text-row so it actually fills the rest
* of the space
* - Fix editor height not matching visualizer height
* 
*/

html {
	padding: 0px;
	margin: 0px;
}

body {
	font-family: 'Helvetica', sans-serif;
	font-size: 10px;
	color: #424242;
	width: 80%;
	padding: 0 1em 2em 1em;
	margin: 0 auto;
	min-width: 64.8em;
	max-width: 93em;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: black;
	border-bottom: 1px solid black;
}

/*--- HEADER ---*/
#header {
	margin-bottom: .5em;
}

#header div {
	display: inline-block;
}

/*--- Title ---*/
#banner {
	width: 48%;
}

#title {
	font-size: 5em;
}

#title a:hover {
	border: none;
}

#tagline {
	padding-left: .5em;
	font-size: 1.3em;
	color: #7e7e7e
}

/*--- Menu ---*/
#menuContainer {
	width: 52%;
	text-align: right;
}

#menu {
	font-size: 1.6em;
}

#menu>div {
	text-align: right;
	padding-left: 2em;
}

/*--- SIMULATOR ---*/
#app {}

#REPL {
	overflow: hidden;
	margin-bottom: 1em;
}

#REPL>div {
	height: 46em;
}

#editor {
	position: relative;
	overflow: hidden;
	height: 100%;
	border: 1px solid #dddddd;
	/*box-sizing: border-box;*/
}

#scrollable-area {
	height: 43.8em;
	overflow: auto;
}

#textInput {
	position: relative; /* Without this, #num-gutter extends to bottom (why?)*/
	width: 100%;
	/*border-bottom: 1px solid #dddddd;*/
	overflow: hidden;
	min-height: 100%;
}

#textInput>div {
	font-size: 15px;
}

#num-gutter {
	position: absolute;
	left: 0;
	top: 0;
	width: 22px; /*Must be same as #row-num-col*/
	height: 100%;
	background: #f0f0f0;
	z-index: -1; /*Somehow this works even though sibs have no position:absolute*/
}

#row-num-col {
	width: 22px; /*Must be same as #num-gutter*/
	float: left;
}

#text-areas {
	overflow: hidden;
}

.num-row {
	text-align: right;
	padding: 1px 4px 1px 0;
}

.text-row {
	outline: none;
	display: block;
	margin: 0;
	padding: 1px 6px;
	width: 97.5%;
	font-size: 15px;
	border: none;
	resize: none;
}

#reference {
	position: absolute;
	right: 0;
	top: 0;
}

#editor-footer {
	text-align: right;
	width: 100%;
}

#evaluate {
	position:relative;
	border: 0;
	cursor: pointer;
}

#visualizer {
	float: right;
	overflow: hidden;
	width: 46em;
	background-color: #F5F1FA;
	margin-left: 1em;
}

#visualizer>div {
	margin: .5em;
}

#visualizer-buffer>span {
	font-size: 1.5em;
}

#visualizer-buffer {

}

#qubitsInput {
	font-size: .8em;
}

#diagram {
	width: 100%;
	height: 24em;
	border: 1px solid #dddddd;
	box-sizing: border-box;
}
